/* Headings */
body {
  text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: #black;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1;
    color: black;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;;
    color: #fff;
}

.container-fluid {
  background-color: #daebee;
  padding: 3% 15%;
}
#Top-section {
  background-color: #daebee;
  color:
}

/* Nav-bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  color: black;
}

/* Images */

.title-image {
  width: 60%;

}

/* Features sections */
#features {
  position: relative;
}

.feature-box {
  padding: 7% 8%;
}

.light-background {
  background-color: #e9f6f5;
}

.icon:hover {
  color: #f1684e;
}

/* Carousel-section */
#destinations {
 background: #f8a978;
  text-align: center;
}

.destination-text {
  line-height: 1.5;
  color: #fff;
}

.carousel-item {
  padding: 7% 20%;
}

.testimonial-image {
  width: 10%;
  height: 600px;
  padding-bottom: 5%;
  border-radius: 100%
}

/* Press */

#press {
  padding-bottom: 3%;
  background-color: #f8a978;
}

.pressimage {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
  text-align: center;
  padding: 0 8% 5% 8%;
}

.Pricing-section {
  padding-top: 5%;
}

.prices{
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA Section */
#cta {
  background-color: #daebee;
  padding: 7% 20%;
}

.contactbutton {
  margin: 7%;
}

/* Footer section */

.footer {
  padding: 7% 20%;
}

.social-icon {
  margin: 20px 10px;
}
